flatbuffers==23.5.26
fonttools==4.39.4
fqdn==1.5.1
fsspec==2023.5.0
ftfy==6.1.1
future==1.0.0
gast==0.4.0
glib==1.0.0
image==1.5.33
imageio==2.29.0
importlib-metadata==6.6.0
kaggle==1.5.13
keepalive-socket==0.0.1
keras==2.14.0
keyring==23.5.0
numpy==1.23.5
opencv-python==4.7.0.72
opencv-python-headless==4.10.0.82
pandas==1.5.3
pandocfilters==1.5.0
Pillow==9.5.0
tensorboard==2.14.1
tensorboard-data-server==0.7.1
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-hub==0.15.0
tensorflow-io-gcs-filesystem==0.32.0
tensorrt==8.6.1
tensorrt-bindings==8.6.1
torch==2.0.1
torch-vision==0.1.6.dev0
torchvision==0.15.2
tornado==6.3.2
