# Benchmark configuration

CONCURRENCIES="1,4,16,32,64"
ENGINES="adb,qd,ldb,pc"
KEEP_PREV_OUTPUT="false"
POST_TO_SLACK="true"
PUSH_TO_S3="true"
RUN_NAME="local_run"
DATASET="deepimage96"
SIZES="1000,10000,100000,1000000"
STATS_PERCENTILE="90"

APERTUREDB_KEY="your-aperturedb-key-here"

# Pinecone configuration
PINECONE_API_KEY="your-pinecone-api-key-here"

# Weaviate configuration
WEAVIATE_CLUSTER_URL="your-cluster-url.c0.us-east1.gcp.weaviate.cloud"
WEAVIATE_API_KEY="your-weaviate-api-key-here"

# Qdrant configuration
QDRANT_CLUSTER_URL="https://your-cluster-url.us-east4-0.gcp.cloud.qdrant.io"
QDRANT_API_KEY="your-qdrant-api-key-here"

LANCEDB_URI="db://cluster-url"
LANCEDB_API_KEY="your-lancedb-api-key-here"

# AWS credentials (set these in your environment or uncomment and fill)
# This is to upload results to benchmarking S3 bucket
AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}

# Slack configuration
SLACK_BOT_TOKEN=${SLACK_BOT_TOKEN}
